<div class="side">
    <h2>About Me</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg1" style="height:400px;width: 350px;"></div>
    <p><b>Store owner:</b> Tran Duc Toan</p>
    <p><b>Address:</b> 149 TRan Quy street, District 11, Ho Chi Minh City </p>
    <div><a href="mailto:ToanTDGCS18873@fpt.edu.vn">Email:ToanTDGCS18873@fpt.edu.vn</a></div><br>
    <div><a href="Tel:083.794.3763">Hotline: 083.794.3763</a></div>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg2" style="height:120px;"><B>SALES</B>></div><br>
    <div class="fakeimg3" style="height:260px;"><B>SALES</B></div><br>
    <div class="fakeimg4" style="height:200px;"><B>SALES</B></div>
  </div>