<!DOCTYPE html>
<html lang="en">
<!-----------------------------Header---------------------------------->
<head>
  <%- include('partials/header-home') -%>
  <title>Page Home</title>
</head>

<!-----------------------------Body---------------------------------->
<body>
  <!-------------------------Menu------------------------------------>
  <%- include('partials/menu') -%>

  <div class="row">
    <%- include('partials/row-left') -%>

    <div class="main">
      <h2>DORAEMON STAR WAR TOYS</h2>
      <h5>abcdefgh, July 4, 2020</h5>
      <div class="fakeimg5" style="height:300px;">Star war</div>
      <p>This is a new toy in my ATN shop, please ! choose Toys if you like...</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h2>PIRATE KING DORAEMON TOYS</h2>
      <h5>Pirate Doraemon, July 4, 2020</h5>
      <div class="fakeimg6" style="height:300px;">Pirate king</div>
      <p>This is a new toy in my ATN shop, please ! choose Toys if you like...</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>


  
  

  <!------------------------------------Footer----------------------------------------->
  <footer>
    <%- include('partials/footer') -%>
  </footer>


</body>
</html>

