* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background-image: url("../images/doraemon-anime-bluray-TECHRUM-cover8ca97e7a09c22208.jpg");
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color:green;
    color: white;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: green;
    color: white;
  }
  /* .navbar a.active1 {
    background-color: red;
    color: white;
  } */

  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
      background-image: url("../images/anhdao.jpg");
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-image: url("../images/7.jpg");
    width: 100%;
    padding: 20px;
  }
  
  /* Footer
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  } */
  
  #footer {
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
  }
    #footer input, #footer select, #footer textarea {
      color: #ffffff; }
    #footer a {
      color: #ce1b28; }
    #footer strong, #footer b {
      color: #ffffff; }
    #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
      color: #ffffff; }
    #footer blockquote {
      border-left-color: rgba(255, 255, 255, 0.25); }
    #footer code {
      background: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25); }
    #footer hr {
      border-bottom-color: rgba(255, 255, 255, 0.25); }
    #footer input[type="submit"],
    #footer input[type="reset"],
    #footer input[type="button"],
    #footer button,
    #footer .button {
      background-color: transparent;
      box-shadow: inset 0 0 0 1px #ffffff;
      color: #ffffff !important; }
      #footer input[type="submit"]:hover,
      #footer input[type="reset"]:hover,
      #footer input[type="button"]:hover,
      #footer button:hover,
      #footer .button:hover {
        box-shadow: inset 0 0 0 1px #ce1b28;
        color: #ce1b28 !important; }
        #footer input[type="submit"]:hover:active,
        #footer input[type="reset"]:hover:active,
        #footer input[type="button"]:hover:active,
        #footer button:hover:active,
        #footer .button:hover:active {
          background-color: rgba(206, 27, 40, 0.25); }
      #footer input[type="submit"].primary,
      #footer input[type="reset"].primary,
      #footer input[type="button"].primary,
      #footer button.primary,
      #footer .button.primary {
        box-shadow: none;
        background-color: #ce1b28;
        color: #ffffff !important; }
        #footer input[type="submit"].primary:hover,
        #footer input[type="reset"].primary:hover,
        #footer input[type="button"].primary:hover,
        #footer button.primary:hover,
        #footer .button.primary:hover {
          background-color: #e2212f;
          box-shadow: none; }
          #footer input[type="submit"].primary:hover:active,
          #footer input[type="reset"].primary:hover:active,
          #footer input[type="button"].primary:hover:active,
          #footer button.primary:hover:active,
          #footer .button.primary:hover:active {
            background-color: #b71824; }
    #footer label {
      color: #ffffff; }
    #footer input[type="text"],
    #footer input[type="password"],
    #footer input[type="email"],
    #footer input[type="tel"],
    #footer input[type="search"],
    #footer input[type="url"],
    #footer select,
    #footer textarea {
      background-color: rgba(255, 255, 255, 0.075);
      border-color: rgba(255, 255, 255, 0.25); }
      #footer input[type="text"]:focus,
      #footer input[type="password"]:focus,
      #footer input[type="email"]:focus,
      #footer input[type="tel"]:focus,
      #footer input[type="search"]:focus,
      #footer input[type="url"]:focus,
      #footer select:focus,
      #footer textarea:focus {
        border-color: #ce1b28;
        box-shadow: 0 0 0 1px #ce1b28; }
    #footer select {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E"); }
      #footer select option {
        color: rgba(255, 255, 255, 0.5);
        background-color: #111111; }
    #footer input[type="checkbox"] + label,
    #footer input[type="radio"] + label {
      color: rgba(255, 255, 255, 0.5); }
      #footer input[type="checkbox"] + label:before,
      #footer input[type="radio"] + label:before {
        background: rgba(255, 255, 255, 0.075);
        border-color: rgba(255, 255, 255, 0.25); }
    #footer input[type="checkbox"]:checked + label:before,
    #footer input[type="radio"]:checked + label:before {
      background-color: #ce1b28;
      border-color: #ce1b28;
      color: #ffffff; }
    #footer input[type="checkbox"]:focus + label:before,
    #footer input[type="radio"]:focus + label:before {
      border-color: #ce1b28;
      box-shadow: 0 0 0 1px #ce1b28; }
    #footer ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.4) !important; }
    #footer :-moz-placeholder {
      color: rgba(255, 255, 255, 0.4) !important; }
    #footer ::-moz-placeholder {
      color: rgba(255, 255, 255, 0.4) !important; }
    #footer :-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.4) !important; }
    #footer ul.alt li {
      border-top-color: rgba(255, 255, 255, 0.25); }
    #footer table tbody tr {
      border-color: rgba(255, 255, 255, 0.25); }
      #footer table tbody tr:nth-child(2n + 1) {
        background-color: rgba(255, 255, 255, 0.075); }
    #footer table th {
      color: #ffffff; }
    #footer table thead {
      border-bottom-color: rgba(255, 255, 255, 0.25); }
    #footer table tfoot {
      border-top-color: rgba(255, 255, 255, 0.25); }
    #footer table.alt tbody tr td {
      border-color: rgba(255, 255, 255, 0.25); }
    #footer .highlights .content {
      background: #111111;
      box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
    #footer .testimonials .content {
      background: #111111;
      box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.025); }
      #footer .testimonials .content .credit strong {
        color: #ce1b28; }
    #footer a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none; }
      #footer a:hover {
        color: #ce1b28; }
        #footer h3 p:hover{
          color: #ce1b28;
        }
    #footer .content {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex; }
      #footer .content section {
        width: 25%; }
        #footer .content section:first-child {
          width: 50%;
          padding-right: 4rem; }
        #footer .content section:last-child {
          padding-left: 4rem; }
    #footer .copyright {
      border-top: 1px solid;
      font-size: 0.8rem;
      opacity: 0.5;
      padding: 1rem 0;
      text-align: center; }
    @media screen and (max-width: 1280px) {
      #footer {
        padding: 4rem 0 2rem 0 ; } }
    @media screen and (max-width: 980px) {
      #footer .content {
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        #footer .content section {
          width: 50%; }
          #footer .content section:first-child {
            width: 100%;
            padding-right: 0; } }
    @media screen and (max-width: 736px) {
      #footer {
        padding: 3rem 0 1rem 0 ; }
        #footer .content section {
          width: 100%; }
          #footer .content section:last-child {
            padding-left: 0; } }
    @media screen and (max-width: 480px) {
      #footer {
        padding: 2rem 0 0.1rem 0 ; } }
        /* Icon */
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative; }
    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    .icon > .label {
      display: none; }
        ul {
            list-style: disc;
            margin: 0 0 2rem 0;
            padding-left: 1rem; }
            ul li {
              padding-left: 0.325rem; }
            ul.plain {
              list-style: none;
              padding-left: 0; }
              ul.plain li {
                margin-bottom: 1rem; }
                ul.plain li .icon {
                  border-radius: 4px;
                  color: #ffffff;
                  display: inline-block;
                  margin-right: 1rem;
                  text-align: center;
                  width: 2rem;
                  height: 2rem;
                  line-height: 2rem;
                  background: rgba(0, 0, 0, 0.5); }
            ul.alt {
              list-style: none;
              padding-left: 0; }
              ul.alt li {
                border-top: solid 1px;
                padding: 0.75rem 0; }
                ul.alt li:first-child {
                  border-top: 0;
                  padding-top: 0; }
                ul.alt li:last-child {
                  padding-bottom: 0; }
                  .inner {
                    margin: 0 auto;
                    width: 75rem;
                    max-width: calc(100% - 6rem);
                }


  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }